body {
    overflow-x: hidden;
}

.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scrollbar::-webkit-scrollbar-track {
    background: #1d1d1d;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(70, 70, 70);
    border-radius: 20px;
    transition: background 0.5s ease-in-out;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #7a4aff;
    transition: background 0.5s ease-in-out;
}